*, *::after, *::before {
  box-sizing: border-box;
}

body {
    background-color: #5e0b67;
    font-family: Arial, sans-serif;
    margin: 0;
}

:root {
  --cell-size: 90px;
  --mark-size: calc(var(--cell-size) * .9);
}

.tit{
    color: white;
}

#difficulty{
  width: 140px;
}

.label-1{
    color: white;
    background-color: rgb(91, 63, 116);
    margin: 18px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    border-radius: 5px;
}

.game-back{
    border-radius: 8px;
    justify-content: center;
}

#btns{
    width: 330px !important;
    justify-items: center !important;
}

.div-btn{
    margin-top: 20px;
    justify-content: center !important;
}

.btn-secondary{
    background-color: #333 !important;
}

.container{
    background-color: #3a0540 !important;
}
.container {
    margin: 0 auto;
    width: 400px;
    justify-items: center !important;
    border-radius: 12px !important;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.row , .rowg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: #3a0540;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
}

.cell.disabled {
    cursor: not-allowed;
    background-color: #ccc;
}
.status {
  color: #fff;
    font-size: 24px;
    background-color: rgb(91, 63, 116);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    width: 270px;
    text-align: center;
    display: inline;
}
.status-time {
    color: #fff;
    margin-top: 15px;
    font-size: 24px;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    display: inline;
}
  
  h1 {
    text-align: center;
    margin-top: 20px;
  }
  
  .game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  


 
  
  button,
  select {
    margin: 18px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover,
  select:hover {
    background-color: #444;
  }
  
  button:active,
  select:active {
    background-color: #555;
  }
  

#gridpage{
  display: none;
}

  
  .cell.x,
  .cell.circle {
    cursor: not-allowed;
  }
  
  .cell.x::before,
  .cell.x::after,
  .cell.circle::before {
    background-color: rgb(201, 192, 192);
  }
  
  .game-back.x .cell:not(.x):not(.circle):hover::before,
  .game-back.x .cell:not(.x):not(.circle):hover::after,
  .game-back.circle .cell:not(.x):not(.circle):hover::before {
    background-color: rgb(201, 192, 192);  
  }
  
  .cell.x::before,
  .cell.x::after,
  .game-back.x .cell:not(.x):not(.circle):hover::before,
  .game-back.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
  }
  
  .cell.x::before,
  .game-back.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
  }

  .game-back.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
    background-color: rgb(87, 68, 103);
  }
  
  .cell.x::after,
  .game-back.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
  }

  .game-back.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
    background-color: rgb(87, 68, 103);
  }
  
  .cell.circle::before,
  .cell.circle::after,
  .game-back.circle .cell:not(.x):not(.circle):hover::before,
  .game-back.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
  }
  
  .cell.circle::before,
  .game-back.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
  }

  .game-back.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: rgb(87, 68, 103);

  }
  
  .cell.circle::after{
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: #3a0540;
  }

  .game-back.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: #3a0540;
  }
  
  .winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3a0540;
    opacity: 0.9;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
  }
  
  .winning-message button {
    font-size: 3rem;
    background-color: white;
    color:  black;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
  }
  
  .winning-message button:hover {
    background-color: #230427;
    color: white;
    border-color: white;
  }
  
  .winning-message.show {
    display: flex;
  }